<h2><p>register user</p></h2>
<form>
  <label for="username">Enter username</label>
  <input type="text" id="username" name="username" placeholder="username" [(ngModel)]="username"><br>
  <label for="password">Enter password</label>
  <input type="password" id="password" name="password" placeholder="password" [(ngModel)]="password"><br>
  <label for="password2">Enter password</label>
  <input type="password"  id="password2" name="password2" placeholder="password again" [(ngModel)]="password2"><br>
  <input [disabled]="username === ''" type="submit" name="submit" value="submit">
</form>
